[Desktop Entry]
Name=MooTube
GenericName=MooTube
Terminal=false
Type=Application
Categories=Application
Icon=mootube
Exec=mootube
StartupWMClass=mootube
X-Purism-FormFactor=Workstation;Mobile;
